.my_class {
  color: white;
  background-color: rgb(252, 150, 184);
  padding: 30px;
}

.nav_bar {
  background-color: pink;
  padding: 20px;
}

.main {
  background-color: whitesmoke;
}

.aboutme { color
  padding: 25px;
}

